<%= stylesheet_link_tag 'home.css' %>
<div class="container">
   <div class="flex justify-text-center align-items-center h-full text-center">
     <div class="fs-1">
        Welcome To The Team
    </div>
    <div class="fs-3">
        Glad to Have You In Team
    </div>
   </div>
</div>