<h1>Welcome to Admin Site of Registration Portal <%= @admin[:admin][:email] %></h1>
<p>
  Please confirm the link by clicking this <%= link_to 'link', edit_admin_url(@admin[:admin][:id]) %>
</p>
<p>Thanks for joining and have a great day!</p>
